/* =============================================================================
  PRIMARY LAYOUT
============================================================================= */

.wrapper {
  z-index: 5;
  transition: transform 0.5s;
}

.wrapper.mm-menu-open {
  transform: translateX(300px);
}

.container {
  padding: 0 72px;
}

main {
  padding: 36px 0;
}

section {
  margin-bottom: 36px;
}

/* =============================================================================
  HEADER
============================================================================= */

.header {
  padding: 24px 0;
  text-align: center;
}

.header__title {
  margin: 0;
}