/*!
Title: TITLE
Author: Nick Salloum
Author URI: http://callmenick.com/
Description: My theme
Version: 0.1.0
*/

// =============================================================================
// CONFIG
// =============================================================================

@import "config/variables";
@import "config/mixins";

// =============================================================================
// BASE
// =============================================================================

@import "base/reset";
@import "base/base";

// =============================================================================
// LAYOUTS
// =============================================================================

@import "layouts/primary";

// =============================================================================
// MODULES
// =============================================================================

@import "modules/menu";
@import "modules/icons";

// =============================================================================
// FUSION AD
// =============================================================================

@import "modules/fusionad";