// =============================================================================
//  RATIOS
// =============================================================================

// =============================================================================
//  COLOURS
// =============================================================================

$color--primary-dark: #7B1FA2;
$color--primary: #9C27B0;
$color--primary-light: #E1BEE7;

$color--text-primary: #212121; // also for icons
$color--text-secondary: #727272;
$color--divider: #B6B6B6;

$color--accent: #CDDC39;

// =============================================================================
//  FONTS
// =============================================================================

$font-family--primary: "Roboto", sans-serif;

$font-size--small: 16px;
$font-size--medium: 22px;
$font-size--large: 36px;

$line-height--small: 1;
$line-height--medium: 1.6;